.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    padding: 24px;

    .login-input {
        min-width: 300px;
    }

    img {
        max-width: 200px;
        margin: 24px auto;
    }
}